APP_NAME=
APP_ENV=

DB_DRIVER=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=
DB_COLLATION=
DB_PREFIX=

REDIS_HOST=
REDIS_AUTH=
REDIS_PORT=
REDIS_DB=

QI_NIU_ACCESS_KEY=
QI_NIU_SECRET_KEY=
QI_NIU_BUCKET=
QI_NIU_DOMAIN=
OSS_URL=